* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caixa {
    height: 100vh;
    width: 100%;
    background: rgb(21, 30, 94);
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo {
    background: rgb(53, 45, 45);
    border-radius: 25px;
    padding: 25px;
}

.resultado {
    display: flex;
    margin: 24px 0;
    justify-content: flex-end;
}

.resultado input {
    flex: 1;
    font-size: 48px;
    text-align: right;
    box-shadow: none;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #276228d2 !important;
    text-align: left;
}


.corpo form input, i {
    width: 60px;
    height: 60px;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin: 10px;
    border-radius: 15px;
    outline: 0;
    box-shadow: -10px -10px 18px rgba(97, 88, 89, 0.155), 8px 8px 18px rgba(82, 59, 59, 0.451);
    background: transparent;
}

i {
    padding: 18px;
    box-shadow: -10px -10px 18px rgba(69, 59, 67, 0.264), 8px 8px 18px rgba(96, 88, 98, 0.284);
    pointer-events: none;
}
